<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mypet.mapper.AlbumMapper">
	
	<select id="getList" resultType="com.mypet.domain.AlbumVO">
		<![CDATA[
			select * from album where a_no > 0 
		]]>
	</select>
	
	
	
	<!--  <insert id="insert">
		insert into album(a_no,a_title) 
		values(seq_album.nextval, #{a_title})
	</insert> 
	 -->
	<select id="read" resultType="com.mypet.domain.AlbumVO">
		select * from album where a_no = #{a_no}
	</select>
	
	<update id="update">
		update album set
		a_title = #{a_title},
		a_udate = sysdate
		where a_no = #{a_no}
	</update>
	
	<delete id="delete">
		delete album where a_no = #{a_no}
	</delete>
	
	
	
	
	
	 <insert id="insert"  useGeneratedKeys="true" keyProperty="a_no">
	    <selectKey keyProperty="a_no" resultType="int" order="BEFORE">
	    	select seq_album.nextval from dual
	    </selectKey>
	    insert into album(a_no, a_title)
	    values(seq_album.nextval,#{a_title})
    </insert> 
 
	<insert id="insertFile" parameterType="hashMap">
		INSERT INTO ALBUM_FILE(
			FILE_NO,
			A_NO,
			ORG_FILE_NAME,
			STORED_FILE_NAME,
			FILE_SIZE
		)VALUES(
			seq_album_file.nextval,
			#{a_no},
			#{ORG_FILE_NAME},
			#{STORED_FILE_NAME},
			#{FILE_SIZE}
		)
    </insert>

	<select id="selectFileList" resultType="hashMap">
	
		select file_no,
				org_file_name,
				round(file_size/1024,1) as file_size
		from album_file
		where a_no = #{a_no} and del_gb = 'n'
	
	</select>

	<select id="selectFileInfo" parameterType="hashMap" resultType="hashMap">
		Select
			Stored_file_name,
			org_file_name
		from album_file
		where file_no = #{file_no}
		
		
	</select>


</mapper>