<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mypet.mapper.FreeBoardMapper">
	
	<select id="getList" resultType="com.mypet.domain.FreeBoardVO">
			select  f_no, f_title, f_writer, f_content from freeboard order by f_no desc		
	</select>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="f_no" >
	   <selectKey keyProperty="f_no" resultType="int" order="BEFORE">
	    	SELECT seq_freeboard.nextval FROM DUAL
	    </selectKey>
		insert into freeboard(f_no,f_title,f_content,f_writer) 
		values(seq_freeboard.nextval, #{f_title}, #{f_content}, #{f_writer})
	</insert>
	
	<select id="read" resultType="com.mypet.domain.FreeBoardVO">
		select * from freeboard where f_no = #{f_no}
	</select>
	
	<update id="update">
		update freeboard set
		f_title = #{f_title},
		f_content = #{f_content},
		f_writer = #{f_writer},
		f_udate = sysdate
		where f_no = #{f_no}
	</update>
	
	<delete id="delete">
		delete freeboard where f_no = #{f_no}
	</delete>
	
 	<select id="getListWithPaging" resultType="com.mypet.domain.FreeBoardVO">
		<![CDATA[
			select 
				f_no, f_title, f_content, f_writer, f_count, f_date, f_udate
			from
				( 
				select
					rownum rn, f_no, f_title, f_content, f_writer, f_count, f_date, f_udate
				from
					freeboard
				where 
	 		]]>
				<trim prefix="(" suffix=") AND " prefixOverrides="OR">
					<foreach item='type' collection="typeArr">
						<trim prefix="OR">
							<choose>
								<when test="type == 'T'.toString()">
									f_title like '%'||#{keyword}||'%'
								</when>
								<when test="type == 'W'.toString()">
									f_writer like '%'||#{keyword}||'%'
								</when>
							</choose>
						</trim>
					</foreach>
				</trim> 
				
			<![CDATA[	
				rownum <= #{pageNum} * #{amount}
				order by f_no desc
				
				)
			where rn > (#{pageNum } - 1) * #{amount}
			
		]]>
	</select> 

	
 	<select id="getTotalCount" resultType="int">
		select count(*) from freeboard where f_no > 0
	</select>
	 
	
	<insert id="insertFile" parameterType="hashMap">
		INSERT INTO freefile(
			FILE_NO,
			f_no,
			ORG_FILE_NAME,
			STORED_FILE_NAME,
			FILE_SIZE
		)VALUES(
			seq_freeboard.nextval,
			#{f_no},
			#{ORG_FILE_NAME},
			#{STORED_FILE_NAME},
			#{FILE_SIZE}
		)
    </insert>
    

	
	<update id="boardCount" parameterType="int">
			update freeboard set
			f_count = f_count + 1
			where f_no = #{f_no}
	</update>
	

</mapper>