<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mypet.mapper.QuestionBoardMapper">
	
	 <select id="getList" resultType="com.mypet.domain.QuestionVO">
	 	<![CDATA[
	 		select * from question where q_no > 0
	 		]]>
	 </select>
	
	<insert id="insert">
		insert into question(q_no, q_title, q_content, q_photo)
		values (seq_question.nextval, #{q_title}, #{q_content}, #{q_content})
	</insert>
	
	<select id="read" resultType="com.mypet.domain.QuestionVO">
		select * from question where q_no = #{q_no}
	</select>
	
	<delete id="delete" >
		delete question where q_no = #{q_no}
	</delete>
	
	<update id="update">
		update question
		set q_title = #{q_title},
		q_content = #{q_content},
		q_photo = #{q_photo},
		q_udate = sysdate
		where q_no = #{q_no}
	</update>


</mapper>